[submodule "js/vendor/js-toolshed"]
	path = js/vendor/js-toolshed
	url = git://github.com/fboes/js-toolshed.git
[submodule "sass/vendor/toolshed"]
	path = sass/vendor/toolshed
	url = git://github.com/fboes/SASS-Toolshed.git
[submodule "app/vendor/small-php-helpers"]
	path = app/vendor/small-php-helpers
	url = git://github.com/fboes/small-php-helpers.git
