<?php if(0): ?>
	<div class="block-container-1">
		<section>
			<h3>Debug</h3>
			<?php _print_r($data); ?>
			<?php _print_r($elite); ?>
		</section>
	</div>
<?php endif; ?>

			</main>
		</div>
<?php if(0): ?>
		<div id="sidebar" class="aside">
			<aside role="complementary"><!-- --></aside>
		</div>
		<div id="footer" class="footer">
			<div class="inner">
				<footer>Build with <a href="https://github.com/fboes/webapp-boilerplate">Webapp-Boilerplate</a> &middot; &copy; 3960!</footer>
			</div>
		</div>
<?php endif; ?>
	</div>
	<div id="modal">
		<aside>