						<?php if (!empty($data->currentTrader->is_editor)): ?>
							<li><a href="<?php _echo($app->url('trader'));?>#modal-trader" class="modal"><i class="fa fa-cog"></i> <span class="icon-hide">Trader settings</span></a></li>
						<?php endif; ?>
						<?php if (!empty($data->currentTrader->id)): ?>
							<li><a href="<?php _echo($app->url('trader-login'));?>#modal-trader-login" class="modal"><i class="fa fa-power-off"></i> <span class="icon-hide">Logout</span></a></li>
						<?php else: ?>
							<li><a href="<?php _echo($app->url('trader-login'));?>#modal-trader-login" class="modal"><i class="fa fa-user"></i> <span class="icon-hide">Create / login trader</span></a></li>
						<?php endif; ?>
					</ul>
				</nav>
			</div>
		</div>
		<div id="main" class="main">
			<main role="main">
				<?php if(!empty($data->messages)): ?>
					<div class="block-container-1 js-slide" id="messages">
						<section>
							<ul>
								<?php foreach ($data->messages as $m): ?>
									<li class="<?php _echo($m->isSuccess() ? 'success' : 'error');?>"><?php _echo($m->message);?></li>
								<?php endforeach; ?>
							</ul>
						</section>
					</div>
				<?php endif; ?>