<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="en">
<!--html prefix="og: http://ogp.me/ns#" manifest="manifests/manifest.appcache" lang="en"-->
<head>
	<meta charset="UTF-8" />
	<title><?php _echo($elite->currentLocation['name']);?> | Elite Trader</title>
	<meta name="application-name" content="Elite Trader"/>
	<meta name="apple-mobile-web-app-title" content="Elite Trader" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link href="//fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Slab:400,700" rel="stylesheet" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="icon" sizes="196x196" href="favicon.png" />
	<link rel="icon" sizes="152x152" href="apple-touch-icon.png" />
	<link rel="icon" sizes="60x60" href="firefox-os-icon.png" />
	<link rel="icon" sizes="48x48" href="favicon.ico" />
	<link rel="apple-touch-icon" href="apple-touch-icon.png" />
	<link rel="shortcut icon" href="favicon.ico" />
	<meta name="description" content="Manage goods in Elite: Dangerous, maximizing your profits" />
	<meta property="og:title" content="Elite Trader" />
	<meta property="og:description" content="Manage goods in Elite: Dangerous, maximizing your profits" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://3960.org/elite-trader/" />
	<meta property="og:image" content="http://3960.org/elite-trader/apple-touch-icon.png" />
	<meta name="robots" content="noindex,nofollow" />
</head>
<body>
	<div id="container">
		<div id="banner" class="header">
			<div class="inner">
				<header role="banner">
					<a href="#"><img src="apple-touch-icon.png" alt="Home" class="header-icon" /></a>
					<h1>Elite Trader</h1>
				</header>
				<!--nav role="navigation">
					<ul class="nav">
						<li><a href="#"><i class="fa fa-search"></i> <span class="icon-hide">Search</span></a></li>
						<li><a href="#"><i class="fa fa-ellipsis-vertical"></i> <span class="icon-hide">Menu</span></a></li>
					</ul>
				</nav-->
			</div>
		</div>
		<div id="main" class="main">
			<main role="main">