<?php require('_header.html');?>
	<?php if (!empty($data->currentTrader->is_editor)): ?>
		<!--li><a href="<?php _echo($app->url('craft-update'));?>#modal-craft_update" class="modal"><i class="fa fa-cube"></i> <span class="icon-hide">Create craft</span></a></li-->
	<?php endif; ?>
<?php require('_header_break.html');?>

	<div class="block-container-1">
		<section>
			<h3>Craft</h3>
			<?php if (!empty($data->currentTrader->is_editor)): ?>
				<form action="<?php _echo($app->currentUrl());?>" method="POST">
			<?php endif; ?>
			<?php if (!empty($data->allCraft)): ?>
				<table class="sortable">
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th class="number">Cargo (<?php _echo(CONFIG_UNIT_CARGO_SHORT);?>)</th>
							<th class="number">Speed</th>
							<th class="number">Min. range (<?php _echo(CONFIG_UNIT_CURRENCY_SHORT);?>)</th>
							<th class="number">Max. range (<?php _echo(CONFIG_UNIT_CURRENCY_SHORT);?>)</th>
						</tr>
					</thead>
					<tbody>
						<?php foreach ($data->allCraft as $craft): ?>
							<tr>
								<td><a href="<?php _echo($app->url('craft', $craft->id));?>"><?php _echo($craft->name);?></a></td>
								<td><span class="ir" data-ir-parents="tr" data-ir-attributes="type='text' name='craft[<?php _echo($craft->id);?>][description]'"><?php _echo($craft->description);?></span></td>
								<td class="number"><span class="ir" data-ir-parents="tr" data-ir-attributes="type='number' min='0' step='<?php _echo($app->convertDecimalsToStep(CONFIG_UNIT_CARGO_DECIMALS));?>' name='craft[<?php _echo($craft->id);?>][cargo]'"><?php $app->echoNumber($craft->cargo,NULL,CONFIG_UNIT_CARGO_DECIMALS);?></span></td>
								<td class="number"><span class="ir" data-ir-parents="tr" data-ir-attributes="type='number' min='0' step='1' name='craft[<?php _echo($craft->id);?>][speed]'"><?php $app->echoNumber($craft->speed);?></span></td>
								<td class="number"><span class="ir" data-ir-parents="tr" data-ir-attributes="type='number' min='0' step='<?php _echo($app->convertDecimalsToStep(CONFIG_UNIT_DISTANCE_DECIMALS));?>' name='craft[<?php _echo($craft->id);?>][range_min]'"><?php $app->echoNumber($craft->range_min,NULL,CONFIG_UNIT_DISTANCE_DECIMALS);?></span></td>
								<td class="number"><span class="ir" data-ir-parents="tr" data-ir-attributes="type='number' min='0' step='<?php _echo($app->convertDecimalsToStep(CONFIG_UNIT_DISTANCE_DECIMALS));?>' name='craft[<?php _echo($craft->id);?>][range_max]'"><?php $app->echoNumber($craft->range_max,NULL,CONFIG_UNIT_DISTANCE_DECIMALS);?></span></td>
							</tr>
						<?php endforeach; ?>
					</tbody>
				</table>
				<?php if (!empty($data->currentTrader->is_editor)): ?>
					<input type="hidden" name="action" value="update_crafts" />
					<button type="submit">Save craft data</button>
				<?php endif; ?>
			<?php endif; ?>
			<?php if (!empty($data->currentTrader->is_editor)): ?>
					<a href="<?php _echo($app->url('craft-update'));?>#modal-good_update" class="modal button"><i class="fa fa-plus"></i> New craft</a>
				</form>
			<?php endif; ?>
		</section>
	</div>

<?php require('_footer_break.html');?>
<?php require('_footer.html');?>

