<?php require('_header.html');?>
<?php require('_header_break.html');?>

<?php if (!empty($data->craft)): ?>
	<div class="block-container-2">
		<section>
			<?php if (!empty($data->currentTrader->is_editor)): ?>
				<form action="<?php _echo($app->currentUrl());?>" method="POST">
			<?php endif; ?>
				<div>
					<h3><span class="ir" data-ir-parents="div" data-ir-attributes="type='text' placeholder='Name' name='name'"><?php _echo($data->craft->name);?></span></h3>
					<p><span class="ir" data-ir-parents="div" data-ir-attributes="type='text' placeholder='Description' name='description'"><?php _echo($data->craft->description);?></span></p>
					<table style="width:auto;">
							<tr>
								<th>Cargo (<?php _echo(CONFIG_UNIT_CARGO_SHORT);?>)</th>
								<td><span class="ir" data-ir-parents="div" data-ir-attributes="type='number' min='0' step='1' placeholder='Cargo' name='cargo'"><?php _echo($data->craft->cargo);?></span></td>
							</tr>
							<tr>
								<th>Speed</th>
								<td><span class="ir" data-ir-parents="div" data-ir-attributes="type='number' min='0' step='1' placeholder='Speed' name='speed'"><?php _echo($data->craft->speed);?></span></td>
							</tr>
							<tr>
								<th>Min. range (<?php _echo(CONFIG_UNIT_DISTANCE_SHORT);?>)</th>
								<td><span class="ir" data-ir-parents="div" data-ir-attributes="type='number' min='0' step='<?php _echo($app->convertDecimalsToStep(CONFIG_UNIT_DISTANCE_DECIMALS));?>' placeholder='Min. range' name='range_min'"><?php _echo($data->craft->range_min);?></span></td>
							</tr>
							<tr>
								<th>Max. range (<?php _echo(CONFIG_UNIT_DISTANCE_SHORT);?>)</th>
								<td><span class="ir" data-ir-parents="div" data-ir-attributes="type='number' min='0' step='<?php _echo($app->convertDecimalsToStep(CONFIG_UNIT_DISTANCE_DECIMALS));?>' placeholder='Max. range' name='range_max'"><?php _echo($data->craft->range_max);?></span></td>
							</tr>
						<?php if(!empty($data->craft->delta->highestBuy)): ?>
							<tr>
								<th>Highest buyer</th>
								<td><a href="<?php _echo($app->url('locations',$data->craft->delta->lowestSell->location_id));?>"><?php _echo($data->craft->delta->highestBuy->location_name);?></a><br /></td>
							</tr>
						<?php endif; ?>
						<?php if(!empty($data->craft->delta->lowestSell)): ?>
							<tr>
								<th>Lowest seller</th>
								<td><a href="<?php _echo($app->url('locations',$data->craft->delta->lowestSell->location_id));?>"><?php _echo($data->craft->delta->lowestSell->location_name);?></a><br /></td>
							</tr>
						<?php endif; ?>
						<?php if(!empty($data->craft->delta->highestBuy) && !empty($data->craft->delta->lowestSell)): ?>
							<tr>
								<th>Biggest delta</th>
								<td><?php $app->echoNumber($data->craft->delta->highestBuy->price - $data->craft->delta->lowestSell->price,CONFIG_UNIT_CURRENCY,CONFIG_UNIT_CURRENCY_DECIMALS);?></td>
							</tr>
						<?php endif; ?>
					</table>
				</div>
			<?php if (!empty($data->currentTrader->is_editor)): ?>
					<input type="hidden" name="action" value="craft_update" />
					<button type="submit">Save</button>
				</form>
			<?php endif; ?>
		</section>
		<?php if($data->craft->prices): ?>
			<section>
				<h4>Prices</h4>
				<table class="data sortable">
					<thead>
						<tr>
							<th>Location</th>
							<th class="number">Sell to market (<?php _echo(CONFIG_UNIT_CURRENCY_SHORT,CONFIG_UNIT_CURRENCY_DECIMALS);?>)</th>
							<th class="number">Buy from market (<?php _echo(CONFIG_UNIT_CURRENCY_SHORT,CONFIG_UNIT_CURRENCY_DECIMALS);?>)</th>
						</tr>
					</thead>
					<tbody>
						<?php foreach ($data->craft->prices as $craftIndex => $price): ?>
							<tr>
								<td><a href="<?php _echo($app->url('locations',$price->location_id));?>"><?php _echo($price->location_name); ?></a></td>
								<td class="number">
									<?php $app->echoNumber($price->price_buy,NULL,CONFIG_UNIT_CURRENCY_DECIMALS);?>
								</td>
								<td class="number">
									<?php $app->echoNumber($price->price_sell,NULL,CONFIG_UNIT_CURRENCY_DECIMALS);?>
								</td>
							</tr>
						<?php endforeach; ?>
					</tbody>
				</table>
			</section>
		<?php endif; ?>
	</div>

<?php endif; ?>

<?php require('_footer_break.html');?>
<?php require('_footer.html');?>

