<?php require('_header.html');?>
<?php require('_header_break.html');?>

<?php if (!empty($data->good)): ?>
	<div class="block-container-1">
		<section>
			<?php if ($data->currentTrader->is_editor): ?>
				<form action="<?php _echo($app->currentUrl());?>" method="POST">
			<?php endif; ?>
				<div>
					<h3><span class="ir" data-ir-parents="div" data-ir-attributes="type='text' placeholder='Name' name='good_name'"><?php _echo($data->good->name);?></span></h3>
					<p><span class="ir" data-ir-parents="div" data-ir-attributes="type='text' placeholder='Description' name='good_description'"><?php _echo($data->good->description);?></span></p>
					<p>
						<?php if(!empty($data->good->delta->highestBuy)): ?>
							Highest buyer: <a href="<?php _echo($app->url('locations',$data->good->delta->lowestSell->location_id));?>"><?php _echo($data->good->delta->highestBuy->location_name);?></a><br />
						<?php endif; ?>
						<?php if(!empty($data->good->delta->lowestSell)): ?>
							Lowest seller: <a href="<?php _echo($app->url('locations',$data->good->delta->lowestSell->location_id));?>"><?php _echo($data->good->delta->lowestSell->location_name);?></a><br />
						<?php endif; ?>
						<?php if(!empty($data->good->delta->highestBuy) && !empty($data->good->delta->lowestSell)): ?>
							Biggest delta: <?php $app->echoNumber($data->good->delta->highestBuy->price - $data->good->delta->lowestSell->price,CONFIG_UNIT_CURRENCY_SHORT);?>
						<?php endif; ?>
					</p>
				</div>

				<?php if($data->good->prices): ?>
					<table class="sortable">
						<thead>
							<tr>
								<th>Location</th>
								<th class="number">Sell to market (<?php _echo(CONFIG_UNIT_CURRENCY_SHORT);?>)</th>
								<th class="number">Buy from market (<?php _echo(CONFIG_UNIT_CURRENCY_SHORT);?>)</th>
							</tr>
						</thead>
						<tbody>
							<?php foreach ($data->good->prices as $goodIndex => $price): ?>
								<tr>
									<td><a href="<?php _echo($app->url('locations',$price->location_id));?>"><?php _echo($price->location_name); ?></a></td>
									<td class="number">
										<?php $app->echoNumber($price->price_buy);?>
									</td>
									<td class="number">
										<?php $app->echoNumber($price->price_sell);?>
									</td>
								</tr>
							<?php endforeach; ?>
						</tbody>
					</table>
				<?php endif; ?>
			<?php if ($data->currentTrader->is_editor): ?>
					<input type="hidden" name="action" value="update_good" />
					<button type="submit">Save</button>
				</form>
			<?php endif; ?>
		</section>
	</div>

	<?php if ($data->currentTrader->is_editor): ?>
		<div class="block-container-2">
			<section>
				<h4>New good</h4>
				<form action="<?php _echo($app->currentUrl());?>" method="POST">
					<div class="form-fieldset" id="create_good-new">
						<div class="form-field">
							<label for="create_good-name">Name</label>
							<input id="create_good-name" type="text" name="name" />
						</div>
						<div class="form-field">
							<label for="create_good-description">Description</label>
							<input id="create_good-description" type="text" name="description" />
						</div>
					</div>

					<input type="hidden" name="action" value="create_good" />
					<button type="submit">Save</button>
				</form>
			</section>
		</div>
	<?php endif; ?>

<?php endif; ?>

<?php require('_footer_break.html');?>
<?php require('_footer.html');?>

