<?php if (!isset($_GET['ajax'])): ?>
	<?php require('_header.html');?>
	<?php require('_header_break.html');?>
<?php endif; ?>

<section>
	<h4><?php _echo($data->title);?></h4>
	<form action="<?php _echo($app->url('locations',$data->currentLocation->id));?>" method="POST">
		<?php if(!empty($app->path[1])): ?>
			<div class="form-field">
				<label for="good_update-good_id">Good</label>
				<select id="good_update-good_id" name="good_id" class="show-on-empty" data-show-on-empty="#good_update-new">
					<option value="">-- New good --</option>
					<?php if(!empty($data->allGoods)): ?>
						<optgroup label="All goods">
						<?php foreach($data->allGoods as $good):?>
							<option value="<?php _echo($good->id);?>"<?php echo(!empty($app->path[2]) && $app->path[2] == $good->id ? ' selected="selected"' : '');?>><?php _echo($good->name);?></option>
						<?php endforeach; ?>
						</optgroup>
					<?php endif; ?>
					<?php if(!empty($data->locationGoods->new)): ?>
						<optgroup label="New prices">
						<?php foreach($data->locationGoods->new as $good):?>
							<option value="<?php _echo($good->id);?>"<?php echo(!empty($app->path[2]) && $app->path[2] == $good->id ? ' selected="selected"' : '');?>><?php _echo($good->name);?></option>
						<?php endforeach; ?>
						</optgroup>
					<?php endif; ?>
					<?php if(!empty($data->locationGoods->old)): ?>
						<optgroup label="Old prices">
						<?php foreach($data->locationGoods->old as $good):?>
							<option value="<?php _echo($good->id);?>"<?php echo(!empty($app->path[2]) && $app->path[2] == $good->id ? ' selected="selected"' : '');?>><?php _echo($good->name);?></option>
						<?php endforeach; ?>
						</optgroup>
					<?php endif; ?>
				</select>
			</div>
		<?php endif; ?>

		<div class="form-fieldset" id="good_update-new"<?php echo(!empty($app->path[2]) ? ' style="display:none"' : '');?>>
			<div class="form-field">
				<label for="good_update-name">Name</label>
				<input id="good_update-name" type="text" name="name" />
			</div>
			<div class="form-field">
				<label for="good_update-description">Description</label>
				<input id="good_update-description" type="text" name="description" />
			</div>
		</div>

		<?php if(!empty($app->path[1])): ?>
			<div class="form-field form-field-half">
				<label for="good_update-price_buy">Sell to… (<?php _echo(CONFIG_UNIT_CURRENCY_SHORT);?>)</label>
				<input id="good_update-price_buy" type="number" min="0" step="1" name="price_buy" />
			</div>
			<div class="form-field form-field-half">
				<label for="good_update-price_sell">Buy from… (<?php _echo(CONFIG_UNIT_CURRENCY_SHORT);?>)</label>
				<input id="good_update-price_sell" type="number" min="0" step="1" name="price_sell" />
			</div>
		<?php endif; ?>

		<input type="hidden" name="action" value="good_update" />
		<button type="submit">Save</button>
	</form>
</section>

<?php if (!isset($_GET['ajax'])): ?>
	<?php require('_footer_break.html');?>
	<?php require('_footer.html');?>
<?php endif; ?>