<?php require('_header.html');?>
<?php require('_header_break.html');?>

	<div class="block-container">
		<section>
			<h3>Goods</h3>
			<?php if (!empty($data->allGoods)): ?>
				<ul class="col">
					<?php foreach ($data->allGoods as $good): ?>
						<li><a href="<?php _echo($app->url('goods', $good->id));?>"><?php _echo($good->name);?></a></li>
					<?php endforeach; ?>
				</ul>
			<?php endif; ?>
		</section>
	</div>

<?php require('_footer_break.html');?>
<?php require('_footer.html');?>

