<?php require('_header.html');?>
<?php require('_header_break.html');?>

<div class="block-container-2">
	<section>
		<h3>Introduction</h3>
		<p>Manage locations and compare prices betwenn goods sold or bought at these locations. This tool helps you to find profitable routes and goods to trade.r</p>
	</section>
	<section>
		<h3>Browse…</h3>
		<ul>
			<li><a href="<?php _echo($app->url('locations'));?>">…by location</a></li>
			<li><a href="<?php _echo($app->url('goods'));?>">…by good</a></li>
		</ul>
	</section>
</div>

<?php require('_footer_break.html');?>
<?php require('_footer.html');?>

