<?php require('_header.html');?>
<?php require('_header_break.html');?>

<div class="block-container-2">
	<section>
		<h3>Introduction</h3>
		<p>Manage locations and compare prices between goods sold or bought at these locations. This tool helps you to find profitable routes and goods to trade.</p>
	</section>
	<section>
		<h3>Go to…</h3>
		<ul>
			<?php if(!empty($data->currentTrader->location_id)): ?>
				<li><a href="<?php _echo($app->url('locations',$data->currentTrader->location_id));?>">Last location you have visited</a></li>
			<?php endif; ?>
			<li><a href="<?php _echo($app->url('locations'));?>">List of all locations</a></li>
			<li><a href="<?php _echo($app->url('goods'));?>">List of all goods</a></li>
			<li><a href="<?php _echo($app->url('craft'));?>">List of all craft</a></li>
		</ul>

	</section>
</div>

<?php require('_footer_break.html');?>
<?php require('_footer.html');?>

