<?php if (!isset($_GET['ajax'])): ?>
	<?php require('_header.html');?>
	<?php require('_header_break.html');?>
<?php endif; ?>
<section>
	<h4><?php _echo($data->title);?></h4>
	<form action="<?php _echo($app->url('locations',$data->currentLocation->id));?>" method="POST">
		<?php if(!empty($app->path[1])): ?>
			<p>If a location you want to link to does not show up, it has to be linked to a neigbouring location first.</p>
			<div class="form-field">
				<label for="location_update-location_id">Location</label>
				<select id="location_update-location_id" name="location_id" class="show-on-empty" data-show-on-empty="#location_update-new">
					<option value="">-- New location --</option>
					<?php foreach($data->locations as $location):?>
						<option value="<?php _echo($location->id);?>"><?php _echo($location->name);?></option>
					<?php endforeach; ?>
				</select>
			</div>
		<?php endif; ?>
		<div class="form-fieldset js-slide<?php _echo(!empty($app->path[2]) ? ' js-hidden' : '');?>" id="location_update-new">
			<div class="form-field">
				<label for="location_update-name">Name</label>
				<input id="location_update-name" type="text" name="name" />
			</div>
			<div class="form-field">
				<label for="location_update-description">Description</label>
				<input id="location_update-description" type="text" name="description" />
			</div>
		</div>

		<?php if(!empty($app->path[1])): ?>
			<div class="form-field">
				<label for="location_update-distance">Distance (<?php _echo(CONFIG_UNIT_DISTANCE_SHORT);?>)</label>
				<input id="location_update-distance" type="number" min="0" step="<?php _echo($app->convertDecimalsToStep(CONFIG_UNIT_DISTANCE_DECIMALS));?>" name="distance" />
			</div>
		<?php endif; ?>
		<input type="hidden" name="action" value="location_update" />
		<button type="submit">Save</button>
	</form>
</section>

<?php if (!isset($_GET['ajax'])): ?>
	<?php require('_footer_break.html');?>
	<?php require('_footer.html');?>
<?php endif; ?>