<?php require('_header.html');?>
	<?php if (!empty($data->currentTrader->is_editor)): ?>
		<li><a href="<?php _echo($app->url('craft-update',$data->currentLocation->id));?>#modal-craft_update" class="modal"><i class="fa fa-truck"></i> <span class="icon-hide">Create craft price</span></a></li>
		<li><a href="<?php _echo($app->url('good-update',$data->currentLocation->id));?>#modal-good_update" class="modal"><i class="fa fa-cube"></i> <span class="icon-hide">Create price</span></a></li>
		<li><a href="<?php _echo($app->url('location-update',$data->currentLocation->id));?>#modal-location_update" class="modal"><i class="fa fa-road"></i> <span class="icon-hide">Create connection</span></a></li>
	<?php endif; ?>
<?php require('_header_break.html');?>

	<div class="block-container-1">
		<section>
			<?php if (!empty($data->currentTrader->is_editor)): ?>
				<form action="<?php _echo($app->currentUrl());?>" method="POST">
			<?php endif; ?>
				<?php if(empty($app->path[2])): ?>
					<div>

						<h3><span class="ir" data-ir-parents="div" data-ir-attributes="type='text' placeholder='Name' name='location_name'"><?php _echo($data->currentLocation->name);?></span></h3>
						<p><span class="ir" data-ir-parents="div" data-ir-attributes="type='text' placeholder='Description' name='location_description'"><?php _echo($data->currentLocation->description);?></span></p>
					</div>
				<?php else: ?>
					<h3><?php _echo($data->title);?></h3>
				<?php endif; ?>

				<?php if (!empty($data->prices)): ?>
					<?php if(empty($app->path[2])): ?>
						<p>
							Price is set to '0' if the good can't be bought / sold at this location.<br />
							Prices are compared for locations in max. <?php _echo($data->currentTrader->hops);?> hops distance with a max. distance of <?php _echo($data->currentTrader->distance_max.' '.CONFIG_UNIT_DISTANCE);?> for a single hop.
						</p>
					<?php else: ?>
						<p><a href="<?php _echo($app->url($app->path[0],$app->path[1]));?>">Return to chart for <?php _echo($data->currentLocation->name);?></a></p>
					<?php endif; ?>
					<table class="data sortable">
						<thead>
							<tr>
								<th>Good</th>
								<th class="number" style="width:5em;">Sell to market<br />(<?php _echo(CONFIG_UNIT_CURRENCY_SHORT);?>)</th>
								<th class="number" style="width:5em;">Buy from market<br />(<?php _echo(CONFIG_UNIT_CURRENCY_SHORT);?>)</th>
								<th style="width:3em">Age</th>
								<th class="number" style="width:6em;">Best sell to delta<br />(<?php _echo(CONFIG_UNIT_CURRENCY_SHORT);?>)</th>
								<th>Best buyer</th>
								<th class="number" style="width:6em;">Best buy from delta<br />(<?php _echo(CONFIG_UNIT_CURRENCY_SHORT);?>)</th>
								<th>Best seller</th>
							</tr>
						</thead>
						<tbody>
							<?php foreach ($data->prices as $goodIndex => $price): ?>
								<tr>
									<td><a href="<?php _echo($app->url('goods',$goodIndex));?>"><?php _echo($price->name);?></a></td>
									<td class="number">
										<span class="ir" data-ir-parents="tr" data-ir-filter="td.number" data-ir-attributes="type='number' min='0' step='<?php _echo($app->convertDecimalsToStep(CONFIG_UNIT_CURRENCY_DECIMALS));?>' name='price[<?php _echo($goodIndex);?>][buy]'"><?php $app->echoNumber($price->price_buy,NULL,CONFIG_UNIT_CURRENCY_DECIMALS);?></span>
									</td>
									<td class="number">
										<span class="ir" data-ir-parents="tr" data-ir-filter="td.number" data-ir-attributes="type='number' min='0' step='<?php _echo($app->convertDecimalsToStep(CONFIG_UNIT_CURRENCY_DECIMALS));?>' name='price[<?php _echo($goodIndex);?>][sell]'"><?php $app->echoNumber($price->price_sell,NULL,CONFIG_UNIT_CURRENCY_DECIMALS);?></span>
									</td>
									<td class="number">
										<i class="fa <?php $app->echoStatus($price->tsStatus);?>"></i><span class="icon-hide"><?php _echo($price->tsStatus);?></span>
									</td>
									<?php if(!empty($price->buyer)): ?>
										<td class="number"><?php $app->echoNumber($price->buyer->delta,NULL,CONFIG_UNIT_CURRENCY_DECIMALS); ?></td>
										<td><a href="<?php _echo($app->url('locations',$price->buyer->id));?>"><?php _echo($price->buyer->name); ?></a>
										</td>
									<?php else: ?>
										<td class="empty"></td>
										<td class="empty">No profits</td>
									<?php endif; ?>
									<?php if(!empty($price->seller)): ?>
										<td class="number"><?php $app->echoNumber($price->seller->delta,NULL,CONFIG_UNIT_CURRENCY_DECIMALS); ?></td>
										<td><a href="<?php _echo($app->url('locations',$price->seller->id));?>"><?php _echo($price->seller->name); ?></a>
										</td>
									<?php else: ?>
										<td class="empty"></td>
										<td class="empty">No profits</td>
									<?php endif; ?>

								</tr>
							<?php endforeach; ?>
						</tbody>
					</table>
				<?php endif; ?>
				<?php if (!empty($data->currentTrader->is_editor)): ?>
					<input type="hidden" name="action" value="update_price" />
					<button type="submit">Save location data</button>
					<a href="<?php _echo($app->url('good-update',$data->currentLocation->id));?>#modal-good_update" class="modal button"><i class="fa fa-plus"></i> New price</a>
				<?php endif; ?>
			<?php if (!empty($data->currentTrader->is_editor)): ?>
				</form>
			<?php endif; ?>
		</section>
	</div>
	<div class="block-container-2">
		<section>
			<h4>Travelling connections for <?php _echo($data->currentLocation->name);?></h4>

			<?php if (!empty($data->currentTrader->is_editor)): ?>
				<form action="<?php _echo($app->currentUrl());?>" method="POST">
				<?php endif; ?>
				<?php if(!empty($data->connections)): ?>
					<table class="data sortable">
						<thead>
							<tr>
								<th>Location</th>
								<th class="number" style="width:5em;">Distance (<?php _echo(CONFIG_UNIT_DISTANCE_SHORT);?>)</th>
								<th style="width:15em;">Compare prices</th>
								<?php if (!empty($data->currentTrader->is_editor)): ?>
									<th class="number" style="width:3em;"><i class="fa fa-trash-o"></i></th>
								<?php endif; ?>
							</tr>
						</thead>
						<tbody>
							<?php foreach($data->connections as $c): ?>
								<tr<?php echo(($c->distance > $data->currentTrader->distance_max) ? ' class="error" title="Out of range"': '');?>>
									<td><a href="<?php _echo($app->url('locations',$c->id));?>"><?php _echo($c->name); ?></a></td>
									<td class="number"><span class="ir" data-ir-parents="tr" data-ir-attributes="type='number' min='0' step='<?php _echo($app->convertDecimalsToStep(CONFIG_UNIT_DISTANCE_DECIMALS));?>' name='lanes[<?php _echo(urlencode($c->id));?>]'"><?php $app->echoNumber($c->distance,NULL,CONFIG_UNIT_DISTANCE_DECIMALS); ?></span></td>
									<td><a href="<?php _echo($app->url($app->path[0],$app->path[1], $c->id));?>"><i class="fa fa-exchange"></i><?php _echo($data->currentLocation->name);?></a></td>
									<?php if (!empty($data->currentTrader->is_editor)): ?>
										<td class="number"><input class="delete" type="checkbox" name="lanes_delete[<?php _echo(urlencode($c->id));?>]" value="x" /></td>
									<?php endif; ?>
								</tr>
							<?php endforeach; ?>
						</tbody>
					</table>
					<?php if (!empty($data->currentTrader->is_editor)): ?>
						<input type="hidden" name="location" value="<?php _echo($data->currentLocation->id);?>" />
						<input type="hidden" name="action" value="update_lane" />
						<button type="submit">Save connection data</button>
					<?php endif; ?>
				<?php endif; ?>

			<?php if (!empty($data->currentTrader->is_editor)): ?>
					<a href="<?php _echo($app->url('location-update',$data->currentLocation->id));?>#modal-location_update" class="modal button"><i class="fa fa-plus"></i> New connection</a>
				</form>
			<?php endif; ?>
		</section>

		<section>
			<h4>Craft prices</h4>
			<?php if (!empty($data->currentTrader->is_editor)): ?>
				<form action="<?php _echo($app->currentUrl());?>" method="POST">
				<?php endif; ?>
				<?php if(!empty($data->craft)): ?>
					<table class="data sortable">
						<thead>
							<tr>
								<th>Name</th>
								<th class="number" style="width:5em;">Sell to market<br />(<?php _echo(CONFIG_UNIT_CURRENCY_SHORT);?>)</th>
								<th class="number" style="width:5em;">Buy from market<br />(<?php _echo(CONFIG_UNIT_CURRENCY_SHORT);?>)</th>
							</tr>
						</thead>
						<tbody>
							<?php foreach($data->craft as $craft): ?>
								<tr>
									<td><a href="<?php _echo($app->url('craft',$craft->id));?>"><?php _echo($craft->name);?></a></td>
									<td class="number">
										<span class="ir" data-ir-parents="tr" data-ir-filter="td.number" data-ir-attributes="type='number' min='0' step='<?php _echo($app->convertDecimalsToStep(CONFIG_UNIT_CURRENCY_DECIMALS));?>' name='craft[<?php _echo($goodIndex);?>][buy]'"><?php $app->echoNumber($craft->price_buy,NULL,CONFIG_UNIT_CURRENCY_DECIMALS);?></span>
									</td>
									<td class="number">
										<span class="ir" data-ir-parents="tr" data-ir-filter="td.number" data-ir-attributes="type='number' min='0' step='<?php _echo($app->convertDecimalsToStep(CONFIG_UNIT_CURRENCY_DECIMALS));?>' name='craft[<?php _echo($goodIndex);?>][sell]'"><?php $app->echoNumber($craft->price_sell,NULL,CONFIG_UNIT_CURRENCY_DECIMALS);?></span>
									</td>
								</tr>
							<?php endforeach; ?>
						</tbody>
					</table>
					<?php if (!empty($data->currentTrader->is_editor)): ?>
						<input type="hidden" name="location" value="<?php _echo($data->currentLocation->id);?>" />
						<input type="hidden" name="action" value="update_craft" />
						<button type="submit">Save craft prices</button>
					<?php endif; ?>
				<?php endif; ?>

			<?php if (!empty($data->currentTrader->is_editor)): ?>
					<a href="<?php _echo($app->url('craft-update',$data->currentLocation->id));?>#modal-location_update" class="modal button"><i class="fa fa-plus"></i> New craft price</a>
				</form>
			<?php endif; ?>
		</section>
	</div>

<?php require('_footer_break.html');?>
<?php require('_footer.html');?>
