<?php require('_header.html');?>
<?php require('_header_break.html');?>

	<div class="block-container-1">
		<section>
			<h3>Locations</h3>
			<?php if (!empty($data->allLocations)): ?>
				<ul class="col">
					<?php foreach ($data->allLocations as $location): ?>
						<li><a href="<?php _echo($app->url('locations', $location->id));?>"><?php _echo($location->name);?></a></li>
					<?php endforeach; ?>
				</ul>
			<?php endif; ?>
		</section>
	</div>

<?php require('_footer_break.html');?>
<?php require('_footer.html');?>

