<?php if (!isset($_GET['ajax'])): ?>
	<?php require('_header.html');?>
	<?php require('_header_break.html');?>
<?php endif; ?>

<section>
	<h4><?php _echo($data->title);?></h4>
	<form action="#" method="POST">
		<div class="form-field">
			<label for="trader-hops">Hops</label>
			<input id="trader-hops" type="number" min="1" max="15" step="1" name="hops" value="<?php _echo($data->currentTrader->hops);?>" />
		</div>
		<div class="form-field">
			<label for="trader-hopdistance">Max. hop distance (<?php _echo(CONFIG_UNIT_DISTANCE);?>)</label>
			<input id="trader-hopdistance" type="number" min="0.01" step="0.01" name="hopdistance" value="<?php _echo($data->currentTrader->hopdistance);?>" />
		</div>
		<input type="hidden" name="action" value="trader" />
		<button type="submit">Save</button>
	</form>
</section>

<?php if (!isset($_GET['ajax'])): ?>
	<?php require('_footer_break.html');?>
	<?php require('_footer.html');?>
<?php endif; ?>